.app.light{
  --bg-color: #FFE8D6;
  --inverted-bg-color: #88887b;

  --primary-color: #ebbea6;
  --secondary-color: #DDBEA9;

  --inverted-primary-color: #575950;
  --inverted-secondary-color: #A5A58D;


}