.app.dark {
    --bg-color: #3f3e3e;
    --inverted-bg-color: #d0d0c2;

    --primary-color: #343434;
    --secondary-color: #464442;

    --inverted-primary-color: #e5eada;
    --inverted-secondary-color: #a8a89d;
}
