.app.light {
    --bg-color: #ffe8d6;
    --inverted-bg-color: #88887b;

    --primary-color: #ebbea6;
    --secondary-color: #ddbea9;

    --inverted-primary-color: #575950;
    --inverted-secondary-color: #a5a58d;
}
