:global(.ant-layout) {
    background: none;
}

:global(.ant-btn-primary) {
    background: var(--primary-light-6);
}

.layout {
    max-width: 100%;
    min-height: 100svh;
    margin-left: auto;
    margin-right: auto;

    background-size: cover;
    background: var(--bg-color);
    color: var(--inverted-bg-color);
    z-index: -1;
}

.sideButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    background: var(--primary-color);
    color: var(--inverted-primary-color);
    box-shadow: 0 -10px 10px 10px var(--secondary-color);
    height: 100px;
    display: flex;
    align-items: center;
}
