
:root {
  --font-family-main: "Inter", "Times New Roman", Serif;
  --error: #FF4D4F;

  //    indentations

  --xs: 10px;
  --s: 12px;
  --sm: 14px;
  --m: 16px;
  --l: 18px;
  --xl: 20px;
  --xxl: 22px;

  //   line height
  --lh-default: 130%;
  //   sizes
  --h-xl: 70px;
  --h-xll: 46px;
  --h-l: 40px;
  --h-ll: 36px;
  --h-ml: 30px;
  --h-m: 24px;
  // border
  --min: 1px;
  --2min: 2px;
}